div {
    cursor: inherit;
}

.game {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 0 auto;
}

.game_item {
    width:  45px ;
    height: 45px;
    border: 1.4px solid rgb(94, 129, 172)

}

.none {
    display: none;
}
    
body {
    background-color: #d8dee9;
}


.item-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1.4px solid transparent;
}


table {
    margin: 0 auto;
    width: 650px;
    border-top: 7px solid rgb(43, 129, 17);
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
  }
  
  td {
    text-align: left;
      padding: 10px;
      border: 3px solid rgb(94, 129, 172);
  }
   th {
    text-align: center;
    padding: 10px;
      border: 3px solid rgb(94, 129, 172);
   }

.start-game {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: #d8dee9;
    background: #3b4252;
    box-shadow: 0 5px 0 #3b4252;
}

.start-game:hover {
    background: #3b4252;
    box-shadow: none;
    position: relative;
    top: 2px;
}
#ship1{
 height:49px ;
 display: none;
}
#ship2{
    height:90px ;
    display: none;
}
#ship3{
    height: 130px;
    display: none;
}
#ship4{
    height: 184px; 
    display: none;
}

.save-button {
    border-radius: 10px;
    color: #d8dee9;
    background: #4c566a;
    width: 210px;
    height: 50px;
    font-size: 15px;
    display: block;
    margin: 0 auto;
}

.polya {
    display: flex;
    justify-content: space-around;
} 

.pole-text {
    font-size: 20px;
    padding-left: 20px;
}


.restart_text {
    font-size: 30px;
    color: red;
    text-align: center;
}

.restart_button {
    border-radius: 10px;
    width: 210px;
    height: 50px;
    font-size: 20px;
    background: #d21d2f;
    display: block;
    margin: 0 auto;
}
    
.none {
    display: none;
}
.kill ::after{
    content:❌ ;
}
.miss::after{
    background-image:url(img/) ;
}
.hit{
    content: 🔴 ;
}