body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    margin: 20px auto;
    transition: transform 0.6s; /* Анимация поворота */
}

.rotated {
    transform: rotate(180deg); /* Поворот на 180 градусов */
}
